<form (ngSubmit)="enviarFormulario()">
    <!--Text-->    
    <h2>Usuario</h2>
    <p>
        <input type="text" name="name"
        placeholder="Indica tu nombre" [(ngModel)]="sName">
    </p>

    
    <!--Radio-Buttos-->
    <h2>Selecciona una Impresora</h2>
    <div *ngFor="let impresora of aImpresoras">
        <input type="radio" 
            name ="printer" [(ngModel)]="impresoraSeleccionada" [value]="impresora">
        <label>{{impresora}}</label>
    </div>

    <!--Checkbox-->    
    <h2>Seleción de opciones</h2>
    <p>
        <input id="print" name="print" type="checkbox" [(ngModel)]="print" 
            [disabled]="!impresoraSeleccionada"
            (change)="avisarPrint()">
        <label for="print">Imprimir resultado</label><br>
        
        <input id="tono" name="tono" type="checkbox" [(ngModel)]="isClaro"
            [disabled]="!impresoraSeleccionada" > 
        <label for="tono">Tono claro</label>			
    </p>
    
    <!--Select/options --> 
    <p>
        <label for="select">Provincia </label>
        <select id="select" name="select"
        [(ngModel)]="provinciaSeleccionada" (ngModelChange)="avisarProvincia()"> 
            <option *ngFor="let provincia of aProvincias"
                [ngValue]="provincia">
                {{provincia.nombre}}
            </option>
        </select>
    </p>	
    <button type="submit">Enviar</button>
</form>

<div *ngIf="mostrarFinal">
        <h2>Resultado</h2>
        <ul>
            <li>Usuario: {{sName}}</li>
            <li>Impresora seleccionada: {{impresoraSeleccionada}}</li>
            <li>Opción print seleccionada: {{print}}</li>
            <li>Opción claro seleccionada: {{isClaro}}</li>
            <li>Provincia elegida: {{provinciaSeleccionada.nombre}}</li>
        </ul>    
    </div>	
